.formControl {
  display: flex;
  flex-direction: column;
  span {
    color: red;
  }
}

.error {
  input,
  textarea {
    border: 1px solid red;
  }
}

.formSummeryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}
